<a href="https://colab.research.google.com/github/dinoferre/Python-para-DS/blob/main/06(03)_Creando_Nuevas_Variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Reporte de Análisis VI

## Creando Nuevas Variables

In [ ]:
import pandas as pd

In [ ]:
datos = pd.read_csv('alquiler_residencial.csv', sep = ';')

In [ ]:
datos.head(10)

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto,Valor m2,Tipo Agrupado
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0,42.50,Departamento
1,Casa,Lurigancho,2,0,1,100,7000.0,0.0,0.0,70.00,Casa
2,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0,53.33,Departamento
3,Departamento,Ate,1,0,0,48,800.0,230.0,0.0,16.67,Departamento
4,Departamento,Comas,2,0,0,50,1300.0,301.0,17.0,26.00,Departamento
5,Casa en condominio,Ate,5,4,5,750,22000.0,0.0,0.0,29.33,Casa
6,Casa en condominio,El Agustino,2,2,0,65,1000.0,0.0,0.0,15.38,Casa
7,Departamento,Mi Perú,2,1,0,70,1500.0,642.0,74.0,21.43,Departamento
8,Departamento,San Borja,3,1,1,90,1500.0,455.0,14.0,16.67,Departamento
9,Departamento,San Borja,1,0,1,40,2000.0,561.0,50.0,50.00,Departamento

In [ ]:
datos['Valor Bruto'] = datos['Valor'] + datos['Mantenimiento'] + datos['Impuesto']

In [ ]:
datos.head(10)

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto,Valor m2,Tipo Agrupado,Valor Bruto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0,42.50,Departamento,2260.0
1,Casa,Lurigancho,2,0,1,100,7000.0,0.0,0.0,70.00,Casa,7000.0
2,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0,53.33,Departamento,1210.0
3,Departamento,Ate,1,0,0,48,800.0,230.0,0.0,16.67,Departamento,1030.0
4,Departamento,Comas,2,0,0,50,1300.0,301.0,17.0,26.00,Departamento,1618.0
5,Casa en condominio,Ate,5,4,5,750,22000.0,0.0,0.0,29.33,Casa,22000.0
6,Casa en condominio,El Agustino,2,2,0,65,1000.0,0.0,0.0,15.38,Casa,1000.0
7,Departamento,Mi Perú,2,1,0,70,1500.0,642.0,74.0,21.43,Departamento,2216.0
8,Departamento,San Borja,3,1,1,90,1500.0,455.0,14.0,16.67,Departamento,1969.0
9,Departamento,San Borja,1,0,1,40,2000.0,561.0,50.0,50.00,Departamento,2611.0

In [ ]:
datos['Valor m2'] = datos['Valor'] / datos['Area']

In [ ]:
datos.head(10)

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto,Valor m2,Tipo Agrupado,Valor Bruto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0,42.500000,Departamento,2260.0
1,Casa,Lurigancho,2,0,1,100,7000.0,0.0,0.0,70.000000,Casa,7000.0
2,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0,53.333333,Departamento,1210.0
3,Departamento,Ate,1,0,0,48,800.0,230.0,0.0,16.666667,Departamento,1030.0
4,Departamento,Comas,2,0,0,50,1300.0,301.0,17.0,26.000000,Departamento,1618.0
5,Casa en condominio,Ate,5,4,5,750,22000.0,0.0,0.0,29.333333,Casa,22000.0
6,Casa en condominio,El Agustino,2,2,0,65,1000.0,0.0,0.0,15.384615,Casa,1000.0
7,Departamento,Mi Perú,2,1,0,70,1500.0,642.0,74.0,21.428571,Departamento,2216.0
8,Departamento,San Borja,3,1,1,90,1500.0,455.0,14.0,16.666667,Departamento,1969.0
9,Departamento,San Borja,1,0,1,40,2000.0,561.0,50.0,50.000000,Departamento,2611.0

In [ ]:
datos['Valor m2'] = datos['Valor m2'].round(2)

In [ ]:
datos.head(10)

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto,Valor m2,Tipo Agrupado,Valor Bruto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0,42.50,Departamento,2260.0
1,Casa,Lurigancho,2,0,1,100,7000.0,0.0,0.0,70.00,Casa,7000.0
2,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0,53.33,Departamento,1210.0
3,Departamento,Ate,1,0,0,48,800.0,230.0,0.0,16.67,Departamento,1030.0
4,Departamento,Comas,2,0,0,50,1300.0,301.0,17.0,26.00,Departamento,1618.0
5,Casa en condominio,Ate,5,4,5,750,22000.0,0.0,0.0,29.33,Casa,22000.0
6,Casa en condominio,El Agustino,2,2,0,65,1000.0,0.0,0.0,15.38,Casa,1000.0
7,Departamento,Mi Perú,2,1,0,70,1500.0,642.0,74.0,21.43,Departamento,2216.0
8,Departamento,San Borja,3,1,1,90,1500.0,455.0,14.0,16.67,Departamento,1969.0
9,Departamento,San Borja,1,0,1,40,2000.0,561.0,50.0,50.00,Departamento,2611.0

In [ ]:
datos['Valor Bruto m2'] = (datos['Valor Bruto'] / datos['Area']).round(2)

In [ ]:
datos.head(10)

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto,Valor m2,Tipo Agrupado,Valor Bruto,Valor Bruto m2
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0,42.50,Departamento,2260.0,56.50
1,Casa,Lurigancho,2,0,1,100,7000.0,0.0,0.0,70.00,Casa,7000.0,70.00
2,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0,53.33,Departamento,1210.0,80.67
3,Departamento,Ate,1,0,0,48,800.0,230.0,0.0,16.67,Departamento,1030.0,21.46
4,Departamento,Comas,2,0,0,50,1300.0,301.0,17.0,26.00,Departamento,1618.0,32.36
5,Casa en condominio,Ate,5,4,5,750,22000.0,0.0,0.0,29.33,Casa,22000.0,29.33
6,Casa en condominio,El Agustino,2,2,0,65,1000.0,0.0,0.0,15.38,Casa,1000.0,15.38
7,Departamento,Mi Perú,2,1,0,70,1500.0,642.0,74.0,21.43,Departamento,2216.0,31.66
8,Departamento,San Borja,3,1,1,90,1500.0,455.0,14.0,16.67,Departamento,1969.0,21.88
9,Departamento,San Borja,1,0,1,40,2000.0,561.0,50.0,50.00,Departamento,2611.0,65.28

In [ ]:
casa = ['Casa', 'Casa en condominio', 'Casa de villa']

In [ ]:
datos['Tipo Agrupado'] = datos['Tipo'].apply(lambda x: 'Casa' if x in casa else 'Departamento')

In [ ]:
datos

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto,Valor m2,Tipo Agrupado,Valor Bruto,Valor Bruto m2
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0,42.50,Departamento,2260.0,56.50
1,Casa,Lurigancho,2,0,1,100,7000.0,0.0,0.0,70.00,Casa,7000.0,70.00
2,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0,53.33,Departamento,1210.0,80.67
3,Departamento,Ate,1,0,0,48,800.0,230.0,0.0,16.67,Departamento,1030.0,21.46
4,Departamento,Comas,2,0,0,50,1300.0,301.0,17.0,26.00,Departamento,1618.0,32.36
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21821,Departamento,Santa Anita,2,0,0,70,900.0,490.0,48.0,12.86,Departamento,1438.0,20.54
21822,Habitación,Pachacámac,0,0,0,27,800.0,350.0,25.0,29.63,Departamento,1175.0,43.52
21823,Departamento,Lince,3,1,2,78,1800.0,800.0,40.0,23.08,Departamento,2640.0,33.85
21824,Departamento,Rímac,2,1,0,48,1400.0,509.0,37.0,29.17,Departamento,1946.0,40.54
21825,Departamento,Rímac,2,0,0,70,3000.0,760.0,0.0,42.86,Departamento,3760.0,53.71

## Excluyendo Variables

In [ ]:
datos_aux = pd.DataFrame(datos[['Tipo Agrupado', 'Valor m2', 'Valor Bruto', 'Valor Bruto m2']])

In [ ]:
datos_aux.head(10)

  Tipo Agrupado  Valor m2  Valor Bruto  Valor Bruto m2
0  Departamento     42.50       2260.0           56.50
1          Casa     70.00       7000.0           70.00
2  Departamento     53.33       1210.0           80.67
3  Departamento     16.67       1030.0           21.46
4  Departamento     26.00       1618.0           32.36
5          Casa     29.33      22000.0           29.33
6          Casa     15.38       1000.0           15.38
7  Departamento     21.43       2216.0           31.66
8  Departamento     16.67       1969.0           21.88
9  Departamento     50.00       2611.0           65.28

In [ ]:
del datos_aux['Valor Bruto']

In [ ]:
datos_aux.head(10)

  Tipo Agrupado  Valor m2  Valor Bruto m2
0  Departamento     42.50           56.50
1          Casa     70.00           70.00
2  Departamento     53.33           80.67
3  Departamento     16.67           21.46
4  Departamento     26.00           32.36
5          Casa     29.33           29.33
6          Casa     15.38           15.38
7  Departamento     21.43           31.66
8  Departamento     16.67           21.88
9  Departamento     50.00           65.28

In [ ]:
datos_aux.pop('Valor Bruto m2')

0        56.50
1        70.00
2        80.67
3        21.46
4        32.36
         ...
21821    20.54
21822    43.52
21823    33.85
21824    40.54
21825    53.71
Name: Valor Bruto m2, Length: 21826, dtype: float64

In [ ]:
datos_aux

      Tipo Agrupado  Valor m2
0      Departamento     42.50
1              Casa     70.00
2      Departamento     53.33
3      Departamento     16.67
4      Departamento     26.00
...             ...       ...
21821  Departamento     12.86
21822  Departamento     29.63
21823  Departamento     23.08
21824  Departamento     29.17
21825  Departamento     42.86

[21826 rows x 2 columns]

In [ ]:
datos.drop(['Valor Bruto', 'Valor Bruto m2'], axis = 1, inplace = True)

In [ ]:
datos.head(10)

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto,Valor m2,Tipo Agrupado
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0,42.50,Departamento
1,Casa,Lurigancho,2,0,1,100,7000.0,0.0,0.0,70.00,Casa
2,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0,53.33,Departamento
3,Departamento,Ate,1,0,0,48,800.0,230.0,0.0,16.67,Departamento
4,Departamento,Comas,2,0,0,50,1300.0,301.0,17.0,26.00,Departamento
5,Casa en condominio,Ate,5,4,5,750,22000.0,0.0,0.0,29.33,Casa
6,Casa en condominio,El Agustino,2,2,0,65,1000.0,0.0,0.0,15.38,Casa
7,Departamento,Mi Perú,2,1,0,70,1500.0,642.0,74.0,21.43,Departamento
8,Departamento,San Borja,3,1,1,90,1500.0,455.0,14.0,16.67,Departamento
9,Departamento,San Borja,1,0,1,40,2000.0,561.0,50.0,50.00,Departamento

In [ ]:
datos.to_csv('alquiler_residencial.csv', sep = ';', index = False)